/*
@media only screen and (orientation:portrait){
  body {  
    height: 100vw;
    width: 100vh;
    transform-origin: center;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    width: calc(155%);
    height: calc(60%);
  }
}
*/

/*
@media only screen and (orientation:portrait){
  body {
    width: 100vh;
    transform: rotate(90deg);
  }
}
*/

@media only screen and (orientation:portrait){
  #main-grid {
		grid-template-columns: repeat(2	, 1fr .5fr) !important;
  }
  #work-type {
		margin-top: 0px;
    font-size: 0.8rem;
  }
  #email, #other {
    font-size: 3vh !important;
  }
  .top-container {
		height: unset !important;
  }
  
  .sect-grid .grid-img img {
    height: unset !important;
  }
	.sect-grid {
			grid-template-columns: repeat(2, 1fr) !important;
			margin-right: 10px !important;
	}
}

@media (max-width: 1024px) and (orientation: landscape) {
  
	.sect-grid {
			grid-template-columns: repeat(2, 1fr) !important;
			margin-right: 10px !important;
	}	
}

#section0 {
	text-align: left;
}

#dropdown-standard {
	font-size: 1rem;
}

#content-container {
	height: 100vh;
}

#top-title {
    font-size: 5.5vw;
    height:15vh;
    font-family: Montserrat;
    font-weight: 600;
    padding-bottom: 5vh;
    padding-top: 5vh;
    padding-left: 10px;
    background-color: #fafafa;
    cursor: default;
}

#top-title > img{
    width: 8vw;
    transform: rotate(90deg);
}

.types {
    float: right;
    font-size: 1.4rem;
    margin-right: 5.5vw;
    ppadding-top: 3.4vh;
    background-color: transparent;
    border: 2px solid #999;	
    border-color: orange;
    border-width: 0px 0px 3px 0px;
    margin-top: 3vh;
    color: #888;
    cursor: pointer;
}

.types:hover {
    opacity: .8;
}

ul li {
	font-family: Montserrat;
}

.top-container {
	display: flex;
	justify-items: center;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
	
  width: 100%;
  hheight: 90vh;
    margin-top: 5vh;
}

#about-container {
	flex-direction: column;
}

#sidebar {
    ppadding-left: 10px;
    wwidth: 8vw;
    align-self: flex-start;
    margin: auto;
    margin-top: 15vh;
}

#email, #other	 {
  margin-top: 5vh;
	font-size: 4vh;
}

.connect {
	width: 5vw;
  max-width: 2.5rem;
	ddisplay: block;
	padding: 1vh 9vw 1vh 0vw;
	margin: auto;
	opacity: .6;
	transition: all 0.5s ease;
}

.connect:hover {
	opacity: 1;
}

#main-grid {
	display: grid;
	grid-gap: 0px 0px;
	grid-template-columns: repeat(4, 1fr .5fr);
	margin: 4vw 5vw 0vw 5vw;
	width: 90vw;
	height: 70vh; /* height of grid */
}

#main-grid .main-text-container {
	height:100%;
	display: flex;
	flex-direction: column;
}

.grid-item {
	hheight: 26vh;
	overflow: hidden;
	transition: all 0.5s ease;
}

.grid-item.grid-text {
	margin-right:  5px;
}

.grid-text {
	background-color: #111;
}

.grid-text #number {
  align-self: flex-end;
	color:#f22;
	
	font-family: Open Sans;
	font-weight: 900;
	font-size: 3rem;
	padding: 5px
	font-weight: bolder;
	ttext-align: right;
	ffloat: right;
}

.grid-text #title{
  width: 122.5px;
	color: white;
	pposition: relative;
  bbottom: -65vh;
  lleft: 5px;	
	transform-origin: top left;
	transform: rotate(-90deg);
  font-family: Oswald;
  font-size: 1rem;
}

.grid-text #title #end-block, .sect-grid  #end-block  {
	background-color: red;
	margin-top: 3px;
	margin-left: -1px;
	width: 1.5rem;
	height: .2rem;
} 

.sect-grid .grid-txt-container #end-block {
    background-color: #333;
    margin: 5px;
    margin-left: 0px;
}

.grid-img {
	
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}

.sect-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.sect-grid #title{
    color: white;
    width: 20vw;
    text-align: left;
    margin: 10px;
    font-size: 30px;
    font-weight: 900;
    font-family: Fira Sans;
}

.sect-grid #title #title-date {
    font-size: 20px;
}

.sect-grid .grid-img img{
	height: 85vh;
  max-width: 70vw;
}

.sect-grid .grid-txt-container {
		wwidth: 34vw;
		hheight: 95vh;
		
    margin-top: 10vh;
    width: 80%;
    color: white;
    background-color: #222;
    ddisplay: none;
}    
.sect-grid .grid-txt {
    margin: 10px;
    font-family: Merriweather;
}

p {
    font-size: .95rem;
    text-align: left;
}

